<div class="dashboard__container">
  <section class="dashboard__sidenav">
    <h1 class="dashboard__sidenav-title">
      Sort By
    </h1>
    <div class="sort__btn sort__btn-active">
      Severity
    </div>
    <div class="sort__btn">
      Category
    </div>
  </section>
  <main class="dashboard__content">
    <h1 class="dashboard__content-title">
      Outstanding Security Issues
    </h1>
    <section class="issues__container">
      <app-issue-card
        *ngFor="let issue of issues"
        [category]="issue.category"
        [description]="issue.description"
        [resource]="issue.resource"
        [resourceGroup]="issue.resourcegroup"
        [severity]="issue.severity"
      ></app-issue-card>
    </section>
  </main>
</div>
