<div class="dashboard__container">
  <main class="dashboard__content">
    <section class="dashboard__content__header">
      <h1 class="dashboard__content__header-title">
        Outstanding Security Issues for
      </h1>
      <select
        class="dashboard__content__header-select"
        (change)="filterQuery($event.target.value)"
      >
        <option value="all">Everything</option>
        <option value="Compute & apps">Compute & Apps</option>
        <option value="Data security">Data security</option>
        <option value="Identity & access">Identity & Access</option>
        <option value="Logging & monitoring">Logging & Monitoring</option>
        <option value="Networking">Networking</option>
      </select>
    </section>
    <section class="issues__container">
      <app-issue-card
        *ngFor="let issue of issues"
        [category]="issue.category"
        [description]="issue.description"
        [resource]="issue.resource"
        [resourceGroup]="issue.resourcegroup"
        [severity]="issue.severity"
      ></app-issue-card>
    </section>
  </main>
</div>
