/****** Brand Colors ******/
$primary-color: #70ad47;
$primary-text-color: #595959;
$secondary-text-color: #999999;
$white-color: #ffffff;
$warning-low: #5B9F87;
$warning-med: #EEA988;
$warning-high: #D97C93;
$desktop-width: 800px;

/***** Button Classes *****/
.sort__btn {
  padding: 2rem 3rem;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-align: center;

  &-active {
    background-color: rgba($primary-color, 0.5);
    color: $white-color;
  }
}
