/****** Brand Colors ******/
$primary-color: #70ad47;
$primary-text-color: #595959;
$secondary-text-color: #999999;
$tertiary-text-color: #E8E8E8;
$white-color: #ffffff;
$warning-low: #5B9F87;
$warning-med: #EEA988;
$warning-high: #D97C93;
$mobile-width: 800px;
$tablet-width: 1260px;

