@import "../../shared/config";

.header__container {
  border-bottom: 1px solid $primary-color;
  display: flex;
  align-items: center;

  .header__logo {
    height: 3rem;
    width: auto;
    margin-right: 0.5rem;
  }

  h1 {
    margin: 1rem 0;
  }
}
