<div
  class="issue__card"
>
  <header class="issue__card-header">
    <h2 class="issue__card-category">
      {{ category }}
    </h2>
  </header>
  <main class="issue__card-content">
    <h2 class="issue__card-severity">
      Urgency
    </h2>
    <span [ngClass]="{
      'severity__high' : severity === 'HIGH',
      'severity__med' : severity === 'MEDIUM',
      'severity__low' : severity === 'LOW'
    }"
    >
      {{ severity }}
    </span>
    <h2 class="issue__card-title">
      Resource
    </h2>
    <span class="issue__card-title-desc">{{ resource }}</span>
    <h2 class="issue__card-subtitle">
      Group
    </h2>
    <span class="issue__card-subtitle-desc">{{ resourceGroup }}</span>
    <section class="issue__card-summary">
      <h2 class="issue__card-summary-title">
        Summary
      </h2>
      <p class="issue__card-summary-text">
        {{ description }}
      </p>
    </section>
  </main>
</div>
