<div
  class="issue__card"
>
  <h2 class="issue__card-severity">
    <i class="material-icons information__icon">error_outline</i>
    Urgency:
    <span [ngClass]="{
      'severity__high' : severity === 'HIGH',
      'severity__med' : severity === 'MEDIUM',
      'severity__low' : severity === 'LOW'
    }"
    >
      {{ severity }}
    </span>
  </h2>
  <h2 class="issue__card-category">
    <i class="material-icons information__icon">tonality</i>
    Category: {{ category }}
  </h2>
  <h2 class="issue__card-title">
    <i class="material-icons information__icon">location_searching</i>
    Resource: {{ resource }}
  </h2>
  <h2 class="issue__card-subtitle">
    <i class="material-icons information__icon">gps_fixed</i>
    Group: {{ resourceGroup }}
  </h2>
  <section class="issue__card-summary">
    <h2 class="issue__card-summary-title">
      <i class="material-icons information__icon">info_outline</i>
      Summary
    </h2>
    <p class="issue__card-summary-text">
      {{ description }}
    </p>
  </section>
</div>
